/*********** HEADER ************/

header {
    background-color: #55473A;
    color: white;
    padding: 12px;
}

header nav {
    font: 20px 'Roboto', sans-serif;
    text-align: right;
    margin-top: 8px;
}

header a {
    color: white;
    text-decoration: none;
}

header a,
.nav-item {
    padding: 4px;
}

#title-accent,
#current-page {
    color: #DEBB5F;
}

header a:hover {
    color: #B88F4D;
}

#title {
    font: bold italic 56px Palatino, serif;
    text-align: left;
    margin-right: 12px;
}

#subtitle {
    font: italic 24px Palatino, serif;
    color: #B88F4D;
}


/********** HOMEPAGE ***********/

/****** LAYOUT *******/

#page-container {
    position: relative;
}

#content-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/****** IMAGES ******/

#background-image {
    width: 100%;
    opacity: 0.5;
}


/********* BROWSEPAGE **********/

#browsepage-container {
    position: relative;
    background-color: #E6E6E6;
    height: 600px;
}

#browsebody-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#image-heading {
    color: #B88F4D;
    font: bold italic 32px Palatino, serif;
    padding: 40px;
    padding-left: 24px;
    background-color: blue;
}

.product-card {
    height: 100px;
    margin: 8px;
    border: 1px solid #55473A;
    background-color: rgba(222, 202, 136, .4);
}

.product-card:hover {
    background-color: rgba(222, 202, 136);
}

.product-image {
    display: inline-block;
    width: 25%;
    height: 100%;
    background-color: red;
}

.product-info {
    height: 100%;
    width: 75%;
    float: right;
    padding: 4px;
    box-sizing: border-box;
}

.product-name {
    font: bold 32px 'Roboto', sans-serif;
    color: #55473A;
    padding-bottom: 12px;
}

.product-description {
    font: italic 16px Palatino, serif;
    color: #55473A;
}

.product-link {
    display: inline-block;
    width: 48%;
}